//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    width: 100%;
    display: block;
    padding: 0px 20px;
    border: 3px solid $mainColor;
    height: toRem(56);
    border-radius: 25px !important;
    text-align: center;
    transition: border-color 0.3s;
    color: $mainColor;
    &:focus {
        outline: none;
        border-color: $lightGreenColor;
    }
    &._form-focus {
    }
    &._form-error {
    }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
    &::placeholder {
        transition: opacity 0.3s;
        color: #7e8585;
    }
    &:focus::placeholder {
        opacity: 0;
    }
}

textarea.input {
    resize: none;
}
