// Заголовки, загальні БЕМ блоки та інше...
.link {
    transition: color 0.3s;
    @media (any-hover: hover) {
        &:hover {
            color: $orangeColor;
        }
    }
    &:active {
        color: $orangeColor;
    }
}
._orange {
    color: $orangeColor;
}
