//====================================================================================================
.footer {
    @include adaptiveValue("padding-top", 70, 40);
    @include adaptiveValue("padding-bottom", 60, 30);
    background-color: $mainColor;
    color: #fff;
    &__container {
    }
    &__top-row {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 80, 30);
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(50);
            }
        }
    }
    &__logo {
        max-width: toRem(120);
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
        img {
            max-width: 100%;
        }
    }
    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 36, 20);
    }
    &__body {
        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: toRem(30);
        }
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__content {
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: 2fr 4fr;
            @include adaptiveValue("row-gap", 60, 30);
            column-gap: toRem(30);
            align-items: center;
        }
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            gap: toRem(30);
            align-items: center;
            text-align: center;
        }
    }
    &__menu {
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__menu-list {
    }
    &__menu-item {
    }
    &__menu-link {
    }
    &__location {
    }
    &__works-hours {
    }
    &__phones {
    }
    &__social {
    }
    &__button-block {
        text-align: center;
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
    }
    &__button {
        font-size: toRem(16);
    }
    &__map {
        position: relative;
        overflow: hidden;

        @media (max-width: $tablet) {
            height: toRem(500);
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
        @media (min-width: $mobileSmall) {
            border-radius: 30px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0 toRem(-15);
        }
    }
    &__other-info {
        text-align: right;
    }
    &__company {
    }
}
._orange {
}
.location-footer {
    &__label {
        font-weight: 500;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 24, 20, 0, 1340, 992);
        color: $orangeColor;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 10);
        }
    }
    &__body {
        display: flex;
        gap: toRem(15);
    }
    &__icon {
        font-size: toRem(38);
    }
    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 24, 20, 0, 1340, 992);
        line-height: 1.3;
    }
}
._icon-location {
}
.works-hours-footer {
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 24, 20);

    &__label {
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }
    &__value {
    }
}
.phones-footer {
    display: flex;
    gap: toRem(20);
    align-items: center;
    &__icon {
        font-size: toRem(32);
    }
    &__list {
        @include adaptiveValue("font-size", 36, 20, 0, 1340, 992);
        font-weight: 700;
        line-height: 1.3;
    }
    &__link {
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }
}
._icon-phone {
}
.socials {
    display: flex;
    gap: toRem(30);
    @media (max-width: $mobile) {
        justify-content: center;
    }
    &__item {
        font-size: toRem(40);
        transition:
            transform 0.3s,
            color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
                transform: scale(1.1);
            }
        }
    }
}
//====================================================================================================
