.header {
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    color: #fff;
    @media (min-width: $mobileSmall) {
        background-color: $mainColor;
    }
    @media (max-width: $mobileSmall) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        transition:
            opacity 0.3s,
            visibility 0.3s;
        &._header-scroll {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__container {
        display: flex;
        gap: toRem(60);
        align-items: center;
        @media (max-width: $tablet) {
            justify-content: space-between;
            text-align: center;
        }
        @media (max-width: $mobile) {
            gap: toRem(25);
        }
        @media (max-width: $mobileSmall) {
            gap: toRem(5);
        }
    }
    &__logo {
        max-width: toRem(120);
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            max-width: toRem(80);
        }
        @media (max-width: $mobileSmall) {
            max-width: toRem(60);
        }
    }
    &__content {
        display: flex;
        @media (min-width: $tablet) {
            gap: toRem(60);
            flex-direction: row-reverse;
            align-items: center;
            font-weight: 500;
        }
        @media (max-width: $tablet) {
            align-items: center;
            flex-direction: column;
            gap: toRem(10);
        }
        @media (max-width: $mobileSmall) {
            gap: toRem(5);
        }
    }
    &__phone-number {
        display: flex;
        gap: toRem(15);
        align-items: center;
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 500;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }
    &__address {
        @include adaptiveValue("font-size", 36, 20, 0, 1340, 992);
        @media (max-width: $mobile) {
            @include adaptiveValue("font-size", 20, 12, 0, 992, 480);
        }
    }
}
._icon-phone {
    @media (max-width: $tablet) {
        display: none;
    }
}
