//====================================================================================================
.page {
    &__main-block {
    }
    &__about {
    }
    &__how-we-teach {
    }
    &__tariffs {
    }
    &__free-lesson {
    }
    &__testimonials {
    }
    &__last-offer-block {
    }
    &__courses {
    }
    &__benefits {
    }
}
.main-block {
    padding-top: toRem(110);
    padding-bottom: toRem(180);
    background: url("@img/main-block-bg.jpeg") center center / cover no-repeat;
    color: #fff;
    min-height: calc(100vh - toRem(113));
    font-weight: 500;
    @media (max-width: $mobileSmall) {
        padding-top: toRem(200);
    }
    &__container {
        position: relative;
    }
    &__offer {
        @include adaptiveValue("max-width", 1070, 370);
    }
    &__title {
        @include adaptiveValue("font-size", 128, 40);
        font-weight: 500;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 80, 30);
        }
        transform: translate(-30px, 0);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s,
                opacity 0.5s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__sub-title {
        @include adaptiveValue("font-size", 40, 20);
        line-height: 1.3;
        @media (min-width: $mobileSmall) {
            max-width: toRem(750);
            @media (max-width: $tablet) {
                max-width: 85%;
            }
            @media (max-width: $mobile) {
                max-width: 60%;
            }
        }
        &:not(:last-child) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 80, 20);
            }
        }
        ._orange {
            text-transform: uppercase;
        }
        transform: translate(-30px, 0);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s 0.3s,
                opacity 0.5s 0.3s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__button {
        @media (max-width: $mobileSmall) {
            padding: toRem(10) toRem(30);
            width: 100%;
        }
        transform: translate(-30px, 0);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s 0.5s,
                opacity 0.5s 0.5s,
                background-color 0.3s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__secondary-info {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: toRem(200);
        @media (max-width: $tablet) {
            justify-content: flex-end;
        }
        @media (max-width: $mobile) {
            padding-bottom: toRem(100);
        }
    }
    &__small-benefit {
        text-transform: uppercase;
        line-height: 1.4;
        @media (max-width: $tablet) {
            display: none;
        }
        transform: translate(30px, 0);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s 0.7s,
                opacity 0.5s 0.7s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__location {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        font-size: toRem(24);
        max-width: toRem(170);
        @media (max-width: $mobileSmall) {
            display: none;
        }
        transform: translate(0, 30px);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s 0.7s,
                opacity 0.5s 0.7s;
            transform: translate(0);
            opacity: 1;
        }
    }
}
//========================================================================================================================================================
// About
//========================================================================================================================================================
.about {
    background: url("@img/text-bg.png") 0 0 / cover no-repeat;
    @include adaptiveValue("padding-top", 170, 45);
    @include adaptiveValue("padding-bottom", 170, 45);
    &__container {
        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptiveValue("gap", 200, 50, 0, 1340, 992);
            align-items: center;
            @media (max-width: $tablet) {
                grid-template-columns: 7fr 10fr;
            }
        }
    }
    &__offer {
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: toRem(40);
        line-height: 1.3;
    }
    &__title {
        font-size: toRem(40);
        font-weight: 500;
        @media (max-width: $mobile) {
            text-align: center;
        }
        @media (max-width: $mobileSmall) {
            font-size: toRem(36);
        }
    }
    &__important-text {
        font-size: toRem(24);
        font-weight: 500;
    }
    &__list {
        font-size: toRem(20);
    }
    &__list-item {
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
}
.offer-about {
    display: flex;
    flex-direction: column;
    gap: toRem(60);
    text-align: center;
    align-items: center;
    @media (max-width: $mobile) {
        gap: toRem(30);
    }
    &__company-name {
        @include adaptiveValue("font-size", 96, 40);
        font-weight: 500;
        @media (max-width: $mobile) {
            order: 2;
        }
    }
    &__image {
        max-width: 100%;
        @media (max-width: $mobile) {
            max-width: toRem(350);
            order: 3;
        }
        @media (max-width: $mobileSmall) {
            max-width: toRem(300);
        }
    }
    &__sub-title {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 700;
        @media (max-width: $mobile) {
            order: 1;
            max-width: toRem(370);
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
}
//========================================================================================================================================================
// How-we-teach
//========================================================================================================================================================
.how-we-teach {
    @include adaptiveValue("padding-top", 110, 40);
    @include adaptiveValue("padding-bottom", 110, 40);
    background-color: $mainColor;
    color: #fff;
    &__container {
        @media (min-width: 1050px) {
            display: flex;
            gap: toRem(50);
            align-items: center;
        }
    }
    &__info {
        text-align: center;
        @media (min-width: 1050px) {
            flex: 0 0 auto;
        }
        @media (max-width: 1050px) {
            @include adaptiveValue("margin-bottom", 60, 40);
        }
    }
    &__title {
        font-weight: 500;
        @media (min-width: $tablet) {
            @include adaptiveValue("font-size", 96, 64, 0, 1340, 992);
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("font-size", 96, 36);
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 80, 10);
        }
    }
    &__sub-title {
        color: $orangeColor;
        font-weight: 700;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__tariffs {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 80, 20);
        }
        @media (min-width: $mobileSmall) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: toRem(40);
            max-width: toRem(620);
            margin: 0 auto;
            @media (max-width: $pc) {
                gap: toRem(20);
            }
        }
        @media (max-width: $mobileSmall) {
            display: flex;
            flex-direction: column;
            gap: toRem(20);
            align-items: center;
        }
    }
    &__tariff {
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__image {
        max-width: 100%;
        width: toRem(544);
        align-self: center;
        transition: transform 0.5s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__bulb {
        align-self: center;
        max-width: toRem(148);
        &:not(:last-child) {
            margin-bottom: toRem(60);
        }
        @media (max-width: 1050px) {
            display: none;
        }
        animation: bulb 3s infinite linear;
        @keyframes bulb {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.9) rotate(-20deg);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &__list {
        line-height: 1.3;
        padding-left: toRem(20);
        font-size: toRem(20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }
    &__list-item {
        list-style: disc;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
    &__button {
        @media (max-width: 1050px) {
            max-width: toRem(470);
            align-self: center;
        }
    }
}
.tariff-how-we-teach {
    padding: toRem(20) toRem(40);
    color: $mainColor;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 20, 1340, 992);
    @media (max-width: $pc) {
        padding: toRem(20);
        max-width: toRem(270);
    }
    &:first-child {
        background-color: $orangeColor;
    }

    &__text {
        line-height: 1.45;
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }
    &__price {
        display: flex;
        flex-direction: column;
        .count {
            font-size: toRem(32);
        }
    }
    &__important-text {
        font-weight: 500;
        font-size: toRem(24);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }
}
//========================================================================================================================================================
// Courses
//========================================================================================================================================================
.courses {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 90, 30);
    background-color: $mainColor;
    color: #fff;
    &__container {
        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
        }
    }
    &__title {
        @include adaptiveValue("font-size", 96, 36);
        line-height: 1.1;
        font-weight: 500;
        @include adaptiveValue("margin-bottom", 120, 55);
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(50);
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    &__image {
        img {
            max-width: 100%;
        }
        @media (min-width: $mobile) {
            max-width: toRem(495);
        }
        @media (max-width: $mobile) {
            max-width: 80%;
        }
    }
    &__list {
        @media (min-width: $mobile) {
            max-width: toRem(610);
            flex: 0 0 auto;
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &__list-item {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }
    &__link {
        @include adaptiveValue("font-size", 40, 20);
        text-transform: uppercase;
        font-weight: 500;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $lightOrangeColor;
            }
        }
        &--mobile {
            display: none;
        }
        @media (max-width: $mobile) {
            display: none;
            &--mobile {
                display: inline-block;
            }
        }
    }
    &__button {
        max-width: toRem(480);

        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
        @media (min-width: $tablet) {
            margin-left: toRem(15);
        }
        @media (max-width: $tablet) {
            align-self: center;
        }
    }
    &__other-info {
        font-weight: 500;
        @include adaptiveValue("font-size", 36, 16);
        line-height: 1.3;
        p {
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
        }
        @media (max-width: $tablet) {
            text-align: center;
        }
    }
}
//========================================================================================================================================================
// Benefits
//========================================================================================================================================================
.benefits {
    @include adaptiveValue("padding-top", 150, 42);
    @include adaptiveValue("padding-bottom", 150, 70);
    &__container {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 40, 24);
        text-align: center;
        @include adaptiveValue("margin-bottom", 30, 15);
        p {
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
        }
    }
    &__image {
        max-width: 100%;
    }
}
//========================================================================================================================================================
// Tariffs
//========================================================================================================================================================
.tariffs {
    @media (max-width: $mobile) {
        display: none;
    }
    &--mobile {
        display: none;
        @media (max-width: $mobile) {
            display: block;
        }
    }
    &__container {
        max-width: none;
        padding: 0;
    }
    &__item {
        @media (min-width: $tablet) {
            background: url("@img/tariffs-bg.png") bottom center / cover no-repeat;
            padding: toRem(120) toRem(15);
        }
    }
}
.tariff {
    @include adaptiveValue("font-size", 20, 16);
    @media (min-width: $mobile) {
        @media (max-width: $tablet) {
            &:nth-child(2) {
                background-color: rgb(255, 235, 169);
                .tariff__column {
                    background-color: #fff;
                }
            }
            &:nth-child(4) {
                background-color: $mainColor;
                .tariff__column {
                    background-color: #fff;
                }
            }
        }
    }
    &__header {
        @media (max-width: $mobile) {
            background-color: #ffd95e;
            padding: toRem(30) toRem(16) toRem(60);
            .tariff:nth-child(2) & {
                background-color: #ffeba9;
            }
            .tariff:nth-child(3) & {
                background-color: #d1e3e3;
            }
            .tariff:nth-child(4) & {
                background-color: $mainColor;
                color: #fff;
                .tariff__title {
                    color: $orangeColor;
                }
                .tariff__sub-title {
                    color: #fff;
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        @media (min-width: $tablet) {
            max-width: toRem(1260);
            margin: 0 auto;
            border: 3px solid $mainColor;
            background-color: #fff;
            border-radius: 50px;
            overflow: hidden;
            transition: transform 0.5s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(0.95);
                }
            }
        }
    }
    &__content {
        @media (max-width: $mobile) {
            padding: toRem(20) toRem(15);
            margin-top: toRem(-30);
            position: relative;
            z-index: 2;
            border-radius: 30px 30px 0 0;
            background-color: #fff;
        }
    }
    &__column {
        flex: 0 0 50%;
        padding: toRem(80);
        .tariff:first-child & {
            &:nth-child(2) {
                background-color: #ffd95e;
            }
        }
        .tariff:nth-child(2) & {
            &:nth-child(1) {
                background-color: #ffeba9;
            }
        }
        .tariff:nth-child(3) & {
            &:nth-child(2) {
                background-color: #d1e3e3;
            }
        }
        .tariff:nth-child(4) & {
            &:nth-child(1) {
                background-color: $mainColor;
                color: #fff;
            }
        }
        @media (max-width: $pc) {
            padding: toRem(40);
        }
        @media (max-width: $tablet) {
            &:nth-child(2) {
                border-radius: 30px 0 0 30px;
            }
        }
    }
    &__name {
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(60);
        }
    }
    &__title {
        @include adaptiveValue("font-size", 64, 40);
        font-weight: 500;
        .tariff__column--bg & {
            .tariff:nth-child(4) & {
                color: $orangeColor;
                @include adaptiveValue("font-size", 40, 36);
            }
        }
    }
    &__sub-title {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 20);
        color: $semiDarkColor;
        .tariff__column--bg & {
            .tariff:nth-child(4) & {
                color: #fff;
            }
        }
    }
    &__for-whom {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    &__label {
        font-weight: 700;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 24, 20);
        line-height: 1.3;
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
        &--small {
            max-width: toRem(300);
        }
        .tariff__column--bg & {
            .tariff:nth-child(4) & {
                color: $orangeColor;
            }
        }
    }
    &__list {
        padding-left: toRem(20);
        line-height: 1.3;
    }
    &__list-item {
        list-style: disc;
        color: $semiDarkColor;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
        .tariff__column--bg & {
            color: $darkColor;
            .tariff:nth-child(4) & {
                color: #fff;
            }
        }
    }
    &__duration {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__text {
        color: $semiDarkColor;
        font-weight: 500;
        .tariff__column--bg & {
            color: $darkColor;
            .tariff:nth-child(4) & {
                color: #fff;
            }
        }
    }
    &__text-row {
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
    &__price {
        .tariff__column--bg & {
            .tariff:nth-child(4) & {
                color: $orangeColor;
            }
        }
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__value-price {
        font-weight: 700;
        font-size: toRem(24);
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
        .count {
            font-weight: 500;
            font-size: toRem(40);
        }
    }
    &__description-price {
        font-size: toRem(16);
    }
    &__button {
        max-width: toRem(280);
        margin: 0 auto;
        display: block;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__format {
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 20);
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        padding-top: toRem(20);
    }
    &__icon {
        @include adaptiveValue("width", 100, 50);
        @include adaptiveValue("height", 93, 45);
        position: relative;
        margin-top: toRem(-20);
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 150%;
        }
    }
    &__teacher {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__achivements {
    }
}
//========================================================================================================================================================
// Free-lesson
//========================================================================================================================================================
.free-lesson {
    background-color: $mainColor;
    @include adaptiveValue("padding-top", 120, 60);
    @include adaptiveValue("padding-bottom", 120, 60);
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            @include adaptiveValue("gap", 50, 20, 0, 1340, 768);
            justify-content: space-between;
            @media (max-width: $tablet) {
                flex-direction: row-reverse;
            }
        }
    }
    &__offer {
        display: flex;
        flex-direction: column;
        @media (min-width: $mobile) {
            max-width: toRem(680);
            @media (max-width: $tablet) {
                max-width: 50%;
                padding-left: toRem(20);
            }
        }
    }
    &__title {
        color: $orangeColor;
        @include adaptiveValue("font-size", 96, 36, 0, 1340, 768);
        font-weight: 500;
        line-height: 1.3;
        @include adaptiveValue("margin-bottom", 150, 40, 0, 1340, 768);
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
    &__image {
        align-self: center;
        max-width: 100%;
    }
    &__form {
        flex: 1 1 auto;
        width: 100%;
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
    }
}
.form-free-lesson {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        background-color: #fff;
        padding: toRem(80) toRem(50);
        border-radius: 30px;
    }

    &__items {
        @include adaptiveValue("margin-bottom", 60, 20);
        @media (max-width: $tablet) {
            padding: toRem(50) toRem(30);
            background-color: #fff;
            border-radius: 30px;
        }
    }
    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 16);
        }
    }
    &__input {
        text-align: left;
    }
    &__textarea {
        padding: toRem(20);
        min-height: toRem(140);
        text-align: left;
    }
    &__button {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }
    &__description {
        text-align: center;
        font-size: toRem(20);
        font-weight: 500;
        @media (max-width: $tablet) {
            color: #fff;
        }
    }
}
//========================================================================================================================================================
// Testimonials
//========================================================================================================================================================
.testimonials {
    @include adaptiveValue("padding-top", 100, 40);
    @include adaptiveValue("padding-bottom", 130, 60);
    &__container {
    }
    &__title {
        @include adaptiveValue("font-size", 96, 36);
        @include adaptiveValue("margin-bottom", 60, 25);
    }
    &__slider {
        @include adaptiveValue("margin-bottom", 34, 20);
    }
    &__wrapper {
    }
    &__slide {
    }
    &__item {
    }
    &__more {
        text-align: right;
        font-size: toRem(20);
    }
    &__link {
        text-decoration: underline;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $lightGreenColor;
            }
        }
    }
}
.item-testimonials {
    padding: toRem(58) toRem(44) toRem(78);
    border: 3px solid $mainColor;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
    border-radius: 30px;
    min-height: 100%;
    @media (max-width: $pc) {
        padding: toRem(55) toRem(30) toRem(40);
    }
    @media (max-width: $mobileSmall) {
        padding: toRem(30) toRem(19) toRem(70);
    }
    &__stars {
        display: flex;
        gap: toRem(5);
        font-size: toRem(30);
        color: #ffc91c;
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }
    &__author {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }
    &__label {
        font-weight: 500;
        font-size: toRem(24);
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__text {
        color: #455a64;
        line-height: 1.3;
    }
}
.author-item-testimonials {
    display: flex;
    gap: toRem(40);
    align-items: center;
    &__photo {
        width: toRem(100);
        height: toRem(100);
        border: 3px solid $mainColor;
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
        }
    }
    &__info {
        font-weight: 500;
        font-size: toRem(20);
        line-height: 1.3;
    }
    &__name {
    }
    &__date {
    }
}
//========================================================================================================================================================
// Last-offer-block
//========================================================================================================================================================
.last-offer-block {
    @include adaptiveValue("padding-top", 180, 80);
    @include adaptiveValue("padding-bottom", 190, 90);
    background: url("@img/last-offer-bg.jpeg") center center / cover no-repeat;
    color: #fff;
    @media (min-width: 1250px) {
        display: flex;
        min-height: 100vh;
    }
    &__container {
        @media (min-width: 1250px) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        @media (max-width: $mobileSmall) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__title {
        @include adaptiveValue("font-size", 94, 36);
        font-weight: 500;
        max-width: toRem(950);
        @media (max-width: 1250px) {
            margin-bottom: toRem(150);
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: toRem(350);
        width: 100%;
        margin-left: auto;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            filter: blur(100px);
            background: #00101a;
            border-radius: 71px;
            width: 243px;
            height: 91px;
            z-index: 2;
        }
    }
    &__logo {
        display: inline-block;
        transition: transform 0.3s;
        max-width: toRem(290);
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
        &:active {
            transform: scale(1.05);
        }
        @media (max-width: 1250px) {
            max-width: toRem(150);
        }
        img {
            max-width: 100%;
        }
    }
    &__sub-title {
        font-weight: 500;
        line-height: 1.3;
        @include adaptiveValue("font-size", 40, 24);
        max-width: toRem(300);
        position: relative;
        z-index: 2;
    }
}
